header {
    border: 3px dashed  black;
    margin: 50px;
    padding: 20px;
    /*height: 100vh;*/
}

main {
    border: 3px dashed  black;
    margin: 50px;
    padding: 20px;
}

footer {
    border: 3px dashed  black;
    margin: 50px;
    padding: 20px;
}

section{
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

article {

    padding: 20px;
    margin: 20px 0;
    background-color: red;
}

span {
    background-color: yellow;
}

img {
    margin: 0 auto;
    text-align: center;
    display: block;
    width:100vh ;
    max-width: 100%;    
}
p{
    max-width: 100%;
}