header {
    border: 3px dashed  black;
    margin: 50px;
    padding: 20px;
}

main {
    border: 3px dashed  black;
    margin: 50px;
    padding: 20px;
}

footer {
    border: 3px dashed  black;
    margin: 50px;
    padding: 20px;
}

section{
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}

article {

    padding: 20px;
    margin: 20px 0;
    background-color: red;
}

span {
    background-color: yellow;
}